<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Left Sidebar</Name>
  <Alias>LeftSidebar</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}
@section ContentArea 
{
}]]></Design>
  <Master>Base</Master>
  <Hash>7e0e1e536b95fcdbc7be8917e9eba184</Hash>
</Template>