<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Article</Name>
    <Alias>Article</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Base</Master>
    <AllowedTemplates>
      <Template>LeftSidebar</Template>
      <Template>NoSidebar</Template>
      <Template>RightSidebar</Template>
    </AllowedTemplates>
    <DefaultTemplate>NoSidebar</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Article</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>4d9f418db704ba4dda5e5d2993dc26dc</Hash>
</DocumentType>