<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Article</Name>
    <Alias>Article</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Base</Master>
    <AllowedTemplates>
      <Template>LeftSidebar</Template>
      <Template>RightSidebar</Template>
    </AllowedTemplates>
    <DefaultTemplate>LeftSidebar</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Article</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>e021ff53a34e257900ed0d7d95faa37b</Hash>
</DocumentType>