<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Article</Name>
    <Alias>Article</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Base</Master>
    <AllowedTemplates>
      <Template>LeftSidebar</Template>
      <Template>NoSidebar</Template>
      <Template>RightSidebar</Template>
    </AllowedTemplates>
    <DefaultTemplate>NoSidebar</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Article</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Article Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Article Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Article Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Featured Image</Name>
      <Alias>featuredImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Article Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Article Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Article Callouts</Name>
      <Alias>articleCallouts</Alias>
      <Type>Imulus.Archetype</Type>
      <Definition>bfc6ef3d-4c10-44e3-8bd1-5b3276788ebe</Definition>
      <Tab>Article Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays in sidebar.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>15</Id>
      <Caption>Article Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>7670e6c8a8d9145541a14458d5c08014</Hash>
</DocumentType>