<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Home</Name>
    <Alias>Home</Alias>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>Base</Master>
    <AllowedTemplates>
      <Template>Home</Template>
    </AllowedTemplates>
    <DefaultTemplate>Home</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Copyright</Name>
      <Alias>copyright</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Footer</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>12</Id>
      <Caption>Footer</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>fa8d4c2fa934a9b54abe44139bfd3e38</Hash>
</DocumentType>