<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Menu Item Type" Id="Umbraco.RadioButtonList" Definition="4aa1b7ff-a547-4e0d-9be8-c1bd05d90a92" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="260" Value="Normal" Alias="0" SortOrder="0" />
    <PreValue Id="261" Value="Bold" Alias="1" SortOrder="1" />
    <PreValue Id="262" Value="Button" Alias="2" SortOrder="2" />
  </PreValues>
  <Hash>8b69947b741c929b16c2f32a318663d0</Hash>
</DataType>