<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Landing Page</Name>
    <Alias>LandingPage</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Base</Master>
    <AllowedTemplates>
      <Template>LandingPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>LandingPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Article</DocumentType>
    <DocumentType>LandingPage</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>178deae9953f569760c101eeb472591a</Hash>
</DocumentType>