@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbracoTwenty.Models.LandingPageViewModel>
@{
    Layout = "Base.cshtml";
}
@section BodyClass {no-sidebar }
@section ContentArea
{
    <article id="main">

        <header class="special container">
            <span class="icon fa-bar-chart-o"></span>
            <h2>
                @Html.Raw(Model.Heading)
            </h2>
            @Html.Raw(Model.SubHeading)
        </header>

        <section class="wrapper style3 container special">
            @{
                ViewDataDictionary calloutViewData = new ViewDataDictionary();
                calloutViewData["numberOfColumns"] = 2;
            }
            @Html.Partial("Callouts", Model.MainCallouts, calloutViewData)
        </section>

        <section class="wrapper style1 container special">
            @{
                calloutViewData["numberOfColumns"] = 3;
            }
            @Html.Partial("Callouts", Model.Callouts, calloutViewData)
        </section>
    </article>
}
