<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Landing Page</Name>
  <Alias>LandingPage</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}]]></Design>
  <Master>Base</Master>
  <Hash>fc2b2c62387cfc3e7d5496bcb338ba38</Hash>
</Template>